{% extends '__base.html' %}

{% block body %}
{% include '_nav.html' %}
<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
        {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Room</th>
            <th>Active</th>
        </tr>
        </thead>
        <tbody>
        {% for r in object_list %}
        <tr>
            <td>{{ r.start_date }}</td>
            <td>{{ r.end_date }}</td>
            <td>ala ma kota</td>
            <td><a href="change_reservation_status/{{r.id}}/{{r.is_active}}">
                <button style="width:70px">{{ r.is_active }}</button>
            </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
