{% extends '__base.html' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <h1>Login</h1>

                <form action="" method="post">
                    {% csrf_token %}
                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page.
                                To proceed,
                                please login with an account that has
                                access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger"
                             role="alert">{{ error }}</div>
                    {% endfor %}
                    <div class="form-group">
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger"
                                 role="alert">{{ error }}</div>
                        {% endfor %}
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger"
                                 role="alert">{{ error }}</div>
                        {% endfor %}
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-success">Login
                    </button>
                    <div><a href="{% url 'register' %}">Register</a></div>
                </form>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
{% endblock %}